@model EducationCms.Web.Areas.admin.Models.Pages.PageIndexVM

<h1 class="mt-2 mb-5">Page list</h1>
<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="order-listing" class="table">
                        <thead>
                            <tr>

                                <th>Name</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Pages)
                            {
                                <tr>
                                    <td>
                                        @item.Name
                                    </td>
                                    <td>
                                        <a class="float-right m-1" href="@Url.Action("Update", "Page",new { id = item.Id})"><i class="fas fa-pencil-alt"></i></a>

                                        <a class="float-right m-1" href="@Url.Action("Delete", "Page",new { id = item.Id})"><i class=" fas fa-trash"></i></a>

                                        <a class="float-right m-1" href="@Url.Action("MakeStared", "Page",new { id = item.Id})">
                                            @if (item.IsStared)
                                            {
                                                <i class="fas fa-star text-success"></i>

                                            }
                                            else
                                            {
                                                <i class="far fa-star text-secondary"></i>
                                            }
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

