@model EducationCms.Web.Areas.admin.Models.Pages.PageModel
@section Style
{
    <style>
        select {
            font-family: icomoon !important;
            font-size:25px !important;
        }

      
    </style>

}

<h1 class="mt-2 mb-5">Update Page</h1>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="forms-sample" method="post" asp-controller="Page" asp-action="Update">
                    <div class="row">

                        <input type="hidden" class="form-control" asp-for="Id">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="Name">Name</label>
                                <input type="text" class="form-control" asp-for="Name" placeholder="Name">
                            </div>
                        </div>


                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="Title">Title</label>
                                <input type="text" class="form-control" asp-for="Title" placeholder="Title">
                            </div>
                        </div>



                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="Description">Description</label>
                                <textarea type="text" class="form-control tinyMce" asp-for="Description" placeholder="Description"></textarea>
                            </div>
                        </div>


                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="Title2">Title second</label>
                                <input type="text" class="form-control" asp-for="Title2" placeholder="Title second">
                            </div>
                        </div>



                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="Description2">Description second</label>
                                <textarea type="text" class="form-control tinyMce" asp-for="Description2" placeholder="Description second"></textarea>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="Title3">Title third</label>
                                <input type="text" class="form-control" asp-for="Title3" placeholder="Title third">
                            </div>
                        </div>



                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="Description3">Description third</label>
                                <textarea type="text" class="form-control tinyMce" asp-for="Description3" placeholder="Description third"></textarea>
                            </div>
                        </div>


                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="Title4">Title four</label>
                                <input type="text" class="form-control" asp-for="Title4" placeholder="Title four">
                            </div>
                        </div>



                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="Description4">Description four</label>
                                <textarea type="text" class="form-control tinyMce" asp-for="Description4" placeholder="Description four"></textarea>
                            </div>
                        </div>


                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="Icon">Icon</label>
                                <select class="form-control" asp-for="Icon">
                                    <option value="icon-magnifying-glass">       &#xe900;                                         </option>
                                    <option value="icon-shopping-cart">         &#xe901;                                         </option>
                                    <option value="icon-right-arrow">          &#xe902;                                         </option>
                                    <option value="icon-furnitures">              &#xe903;                                         </option>
                                    <option value="icon-buildings">               &#xe904;                                         </option>
                                    <option value="icon-house-design">            &#xe905;                                              </option>
                                    <option value="icon-architect">              &#xe906;                                                </option>
                                    <option value="icon-architect-1">            &#xe907;                                           </option>
                                    <option value="icon-architect-2">             &#xe908;                                             </option>
                                    <option value="icon-measure">                &#xe909;                                            </option>
                                    <option value="icon-blueprint">              &#xe90a;                                         </option>
                                    <option value="icon-kitchen">                &#xe90b;                                         </option>
                                    <option value="icon-architect-3">             &#xe90c;                                         </option>
                                    <option value="icon-architect-4">            &#xe90d;                                       </option>
                                    <option value="icon-architect-5">           &#xe90e;                                       </option>
                                    <option value="icon-satisfaction">          &#xe90f;                                         </option>
                                    <option value="icon-team">             &#xe910;                                         </option>
                                    <option value="icon-checklist">               &#xe911;                                         </option>
                                    <option value="icon-outsourcing">             &#xe912;                                         </option>
                                    <option value="icon-tick">                  &#xe913;                                         </option>
                                    <option value="icon-magnifying-glass1">       &#xe914;                                         </option>
                                    <option value="icon-right-arrow1">            &#xe915;                                         </option>
                                    <option value="icon-wealth">                 &#xe916;                                         </option>
                                    <option value="icon-data-analytics">          &#xe917;                                         </option>
                                    <option value="icon-report">              &#xe918;                                         </option>
                                    <option value="icon-phone-ringing">           &#xe919;                                         </option>
                                    <option value="icon-mobile-analytics">        &#xe91a;                                         </option>
                                    <option value="icon-research">                &#xe91b;                                          </option>
                                    <option value="icon-creative">                &#xe91c;                                          </option>
                                    <option value="icon-video">                   &#xe91d;                                          </option>
                                    <option value="icon-help">                    &#xe91e;                                          </option>
                                    <option value="icon-customer-review">         &#xe91f;                                          </option>
                                    <option value="icon-consultant">              &#xe920;                                         </option>
                                    <option value="icon-checkmark">               &#xe921;                                          </option>
                                    <option value="icon-bank">                   &#xe922;                                          </option>
                                    <option value="icon-protection">              &#xe923;                                          </option>
                                    <option value="icon-travel">                  &#xe924;                                          </option>
                                    <option value="icon-software">               &#xe925;                                          </option>
                                    <option value="icon-consulting">              &#xe926;                                          </option>
                                    <option value="icon-group">                  &#xe927;                                         </option>
                                    <option value="icon-consulting-1">            &#xe928;                                          </option>
                                    <option value="icon-creative-1">              &#xe929;                                          </option>
                                    <option value="icon-analysis">               &#xe92a;                                          </option>
                                    <option value="icon-business">               &#xe92b;                                          </option>
                                    <option value="icon-global">                  &#xe92c;                                          </option>
                                    <option value="icon-team1">                  &#xe92d;                                           </option>
                                </select>
                            </div>
                        </div>



                    </div>
                    <button type="submit" class="btn btn-success mr-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>



