@model EducationCms.Web.Areas.admin.Models.Blog.BlogAddVM

<h1 class="mt-2 mb-5">Add Blog</h1>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="forms-sample" method="post" asp-controller="Blog" asp-action="Create" enctype="multipart/form-data">
                    <div class="row">


                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="Add.Title">Title</label>
                                <input type="text" class="form-control" asp-for="Add.Title" placeholder="Title">
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="Add.Description">Little Description</label>
                                <textarea type="text" class="form-control" asp-for="Add.Description" placeholder="Description"></textarea>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="Add.Content">Content</label>
                                <textarea type="text" class="form-control tinyMce" asp-for="Add.Content" placeholder="Content"></textarea>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="Add.CategoryId">Categories</label>
                                <select asp-for="Add.CategoryId" class="form-control border-primary" asp-items="@Model.Categories">
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="Add.IsActive">Is Public</label>
                                <input type="checkbox" asp-for="Add.IsActive" class="form-control border-primary" checked="checked">
                            </div>
                        </div>

                        <div class="row m-1 mb-5">
                            <div class="col-sm-6">
                                <label asp-for="Image">Banner Image</label>
                                <input type="file" accept="image/*" placeholder="Banner Image" asp-for="Image" class="file-upload-default" required>
                            </div>
                        </div>

                    </div>
                    <button type="submit" class="btn btn-success mr-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
