@model EducationCms.Web.Areas.admin.Models.MissionVisions.MissionVissionAddVM

<h1 class="mt-2 mb-5">Add Mission Vission</h1>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="forms-sample" method="post" asp-controller="MissionVission" asp-action="Create">
                    <div class="row">


                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="Add.Title">Name</label>
                                <input type="text" class="form-control" asp-for="Add.Title" placeholder="Name">
                            </div>
                        </div>


                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="Add.Type">Type</label>
                                <select type="text" class="form-control" asp-for="Add.Type" placeholder="Position" asp-items="@Html.GetEnumSelectList<MissionVisionType>()"></select>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="Add.Description">Description</label>
                                <textarea  class="form-control" asp-for="Add.Description" placeholder="Description"></textarea>
                            </div>
                        </div>

                       


                        <div class="row m-1 mb-5">
                            <div class="col-sm-6">
                                <label asp-for="Image">Image</label>
                                <input type="file" accept="image/*" placeholder="Banner Image" asp-for="Image" class="file-upload-default">
                            </div>
                        </div>


                    </div>
                    <button type="submit" class="btn btn-success mr-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>



