@model EducationCms.Web.Areas.admin.Models.MissionVisions.MissionVissionIndexVM

<h1 class="mt-2 mb-5">Mission Vission</h1>
<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="order-listing" class="table">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Title</th>
                                <th>Image</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Datas)
                            {
                            <tr>
                                <td>
                                    @item.Type.ToString()
                                </td>
                                <td>
                                    @item.Title
                                </td>
                                <td>
                                    <img src="~/images/mv/@item.Image.Name" />
                                </td>
                                <td>
                                    <a class="float-right m-1" href="@Url.Action("Update", "MissionVission",new { id = item.Id})"><i class="fas fa-pencil-alt"></i></a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

