@model EducationCms.Web.Areas.admin.Models.Consumers.ConsumerAddVM

<h1 class="mt-2 mb-5">Add Consumer</h1>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="forms-sample" method="post" asp-controller="Consumer" asp-action="Create" enctype="multipart/form-data">
                    <div class="row">


                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="Add.Name">Name</label>
                                <input type="text" class="form-control" asp-for="Add.Name" placeholder="Name">
                            </div>
                        </div>


                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="Add.Position">Position</label>
                                <input type="text" class="form-control" asp-for="Add.Position" placeholder="Position">
                            </div>
                        </div>



                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="Add.Review">Review</label>
                                <textarea type="text" class="form-control tinyMce" asp-for="Add.Review" placeholder="Review"></textarea>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="Add.SeminarId">Seminar</label>
                                <select type="text" class="form-control" asp-for="Add.SeminarId" asp-items="Model.Seminars"></select>
                            </div>
                        </div>

                        <div class="row m-1 mb-5">
                            <div class="col-sm-6">
                                <label asp-for="Image">Image</label>
                                <input type="file" accept="image/*" asp-for="Image" class="file-upload-default">
                            </div>
                        </div>


                    </div>
                    <button type="submit" class="btn btn-success mr-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script src="~/admin/js/shared/file-upload.js"></script>
}