@model EducationCms.Web.Areas.admin.Models.Consumers.ConsumerModel

<h1 class="mt-2 mb-5">Update Consumer</h1>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="forms-sample" method="post" asp-controller="Consumer" asp-action="Update">
                    <div class="row">

                        <input type="hidden" class="form-control" asp-for="Id">


                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="Name">Name</label>
                                <input type="text" class="form-control" asp-for="Name" placeholder="Name">
                            </div>
                        </div>


                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="Position">Position</label>
                                <input type="text" class="form-control" asp-for="Position" placeholder="Position">
                            </div>
                        </div>



                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="Review">Review</label>
                                <textarea type="text" class="form-control tinyMce" asp-for="Review" placeholder="Review"></textarea>
                            </div>
                        </div>





                    </div>
                    <button type="submit" class="btn btn-success mr-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>



