@model EducationCms.Web.Areas.admin.Models.Banners.BannerAddEditVM

<h1 class="mt-2 mb-5">Add Banner</h1>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="forms-sample" method="post" asp-controller="Banner" asp-action="Update" enctype="multipart/form-data">
                    <div class="row">

                        <input type="hidden" class="form-control" asp-for="Add.Id">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="Add.TitleFirst">Title First</label>
                                <input type="text" class="form-control" asp-for="Add.TitleFirst" placeholder="Title">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="Add.TitleSecond">Title Second</label>
                                <input type="text" class="form-control" asp-for="Add.TitleSecond" placeholder="Title">
                            </div>
                        </div>



                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="Add.Url">Url</label>
                                <input type="text" class="form-control" asp-for="Add.Url" placeholder="Url" required>
                            </div>
                        </div>


                        <div class="row m-1 mb-5">
                            <input type="hidden" asp-for="Add.Image.Id">
                            <div class="col-sm-6">
                                <label asp-for="Image">Banner Image</label>
                                <input type="file" accept="image/*" placeholder="Banner Image" asp-for="Image" class="file-upload-default" required>
                            </div>

                        </div>

                    </div>
                    <button type="submit" class="btn btn-success mr-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>




@section Scripts{
    <script src="~/admin/js/shared/file-upload.js"></script>
}
<!-- main-panel ends -->
